@model IEnumerable<MiniSocialNetwork.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin panel</h1>

<p>
    <a asp-action="Add">Add</a>
 
</p>
   <a asp-action="Init">init</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor( model => model.Friends)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @item.Friends.Aggregate("", (current, friend) => current + ","  + friend)
            </td>
            
            <td>
                <form asp-controller="User" asp-action="Delete" asp-route-login="@item.Login">
                    <input type="submit" value="Delete" class="btn btn-danger" /> 
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
